.main-page {
    display: flex;
    flex-direction: row;
}

.categories-wrapper {
    display: flex;
    flex-direction: column;
    height: 41vw;
    width: 25vw;
}

.categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-heading {
    margin-left: 30px !important;
    font-size: 35px !important;
}

.filters-button {
    margin-right: 20px;
    width: 50px;
    height: 40px;
    background: var(--dark-blue);
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: 100; 
}

.filters-button:hover {
    background: var(--hover-blue);
    cursor: pointer;
}

.categories-list {
    align-self: center;
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    background-color: var(--white-bg);
    overflow-x: hidden;
    border: 1px solid var(--light-grey);
    margin-left: 3px;
}

.category-button {
    width: 22.99vw;
    height: 3vw;
    border: 1px solid var(--light-grey);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-left: 8px;   
}

.category-button:hover{
    cursor: pointer;
}


.charities-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5vw;
}

.charities-catalog {
    height: 35vw;
    width: 70vw;
}

.charity-heading {
    height: 3vw;
    border: 1px solid var(--light-grey);
    background-color: var(--white-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.charity-heading span {
    margin-left: 20px;
    cursor: pointer;
}

.expand-button {
    margin-right: 20px;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.hidden {
    display: none !important;
}

.charity-description {
    background: var(--lighter-grey);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: var(--dark-grey);
    padding: 20px;
}

.expanded {
    background: var(--dark-blue) !important;
    color: var(--light-grey) !important;
}

.expanded-charity {
    background: var(--light-grey);
    border-bottom: none;
}

.active-category {
     border-left: 3px solid var(--dark-blue) !important; 
   
}

.pages {
    justify-content: right;
    text-align: center;
    margin-top: 20px;
}

.page-button {
    display: inline;
    margin-right: 15px;
}