<header>
    <div class="title-logo-wrapper" onclick="location.href='index.html'">
        <div class="title">Charity</div>
        <img class="header-logo" src="./images/logo_notext.png">
        <div class="title">Champs</div>
    </div>
</header>